version: '2'

# volumes:
#   otrs_backups:

services:

  otrs:
    container_name: otrs
    build:
      context: build
      args:
        OTRS_USER: ${OTRS_USER}
        OTRS_GROUP: ${OTRS_GROUP}
    image: otrs:${OTRS_VERSION}
    environment:
      - OTRS_USER=${OTRS_USER}
      - OTRS_GROUP=${OTRS_GROUP}
      - MYSQL_ROOT_PASSWORD=mariadb12315
      - OTRS_DB_HOST=mariadb
      - OTRS_DB_PORT=3306
      - OTRS_DB_INIT=true
      - OTRS_DB_NAME=otrs
      - OTRS_DB_USER=otrs
      - OTRS_DB_PASSWORD=otrs12315
    volumes:
      # - otrs_backups:/var/otrs/backups
      - /etc/localtime:/etc/localtime:ro
      - ./build/run.sh:/run.sh
    ports:
      - 8080:80

  mariadb:
    image: juanluisbaptiste/otrs-mariadb:latest
    container_name: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=mariadb12315
    expose:
      - 3306
    ports:
      - 3306:3306
    volumes:
      - /etc/localtime:/etc/localtime:ro