version: '2'

# volumes:
#   otrs_backups:

services:

  otrs:
    container_name: otrs
    build:
      context: build
      args:
        OTRS_USER: ${OTRS_USER}
        OTRS_VERSION: ${OTRS_VERSION}
    image: otrs:${OTRS_VERSION}
    env_file: .env
    environment:
      - OTRS_USER=${OTRS_USER}
      - OTRS_DB_HOST=mariadb
      - OTRS_DB_PORT=3306
      - OTRS_DB_INIT=false
    volumes:
      # - otrs_backups:/var/otrs/backups
      - /etc/localtime:/etc/localtime:ro
      - ./volumes/otrs${NUM}/supervisord.conf:/supervisord.conf
      - ./volumes/otrs${NUM}/init-db.sql:/init-db.sql
      - ./volumes/otrs${NUM}/run-otrs.sh:/run-otrs.sh
      - ./volumes/otrs${NUM}/run-apache.sh:/run-apache.sh
      - ./volumes/otrs${NUM}/apache2/ports.conf:/etc/apache2/ports.conf
      - ./volumes/otrs${NUM}/apache2/sites-available/000-default.conf:/etc/apache2/sites-available/000-default.conf
    command: /usr/bin/supervisord -c /supervisord.conf
    ports:
      - 8080:8080
      - 9001:9001

  mariadb:
    image: mariadb:latest
    container_name: mariadb
    expose:
      - 3306
    ports:
      - 3306:3306
    env_file: .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./volumes/mariadb/my.conf:/etc/mysql/my.cnf